@import 'assets/scss/theme';

/* You can add global styles to this file, and also import other style files */
body {
  background-color: $green;
  font-family: 'Volkhov', serif;
}
h1, h2, h3, h4, h5 {
  font-family: 'Unica One', cursive;
}